@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

select {
  width: 4rem;
  height: 2rem;
  border-bottom: 1px solid black;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  outline: none;
}

.shape {
  width: 30vw;
  height: 30vh;
  background: rgb(12, 167, 32);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  width: 45vw;
  display: flex;
  justify-content: space-between;
}

.input {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

label {
  display: none;
}

input {
  width: 8rem;
  height: 2rem;
  border-bottom: 1px solid black;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  outline: none;
}

.clipboard {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

input#copyInput {
  width: 80%;
}

.clipboard button {
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
}
